doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    title Multilingual Linguistic Data Science
    link(rel="stylesheet" href="dist/reset.css")
    link(rel="stylesheet" href="dist/reveal.css")
    link(rel="stylesheet" href="dist/theme/beige.css")
    link(rel="stylesheet" href="plugin/highlight/monokai.css")
    style.
      .vertical-center {
        margin: 0;
        position: absolute;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
      }
      .tag { padding-left:10px; padding-right:10px;margin-right:2px;border-radius:6px;} 
      .blue { background-color: mediumblue; color: white; }
      .pink { background-color: hotpink; color: white; }
      .green { background-color: seagreen; color: white; }
      .yellow { background-color: goldenrod; color: white; }

    div(class="reveal")
      div(class="slides")
        section(data-background-image="img/multilingual1.png" data-background-opacity=0.5)
          h1 Multilinguality
          h3 John P. McCrae - University of Galway
          h5 Course at ESSLLI 2024
          img(src="img/uog.svg" style="position:absolute;left:70%;top:110%;width:500px;")
        section(data-background-image="img/machine_translation.png" data-background-opacity=0.5 data-background-position="top")
          h1 Machine Translation
        section
          h2 History of Machine Translation
          ul
            li 1954 Georgetown-IBM experiment
            li 1966 ALPAC report
            li 1970s-1980s: Rule-based MT
            li 1993 Statistical MT (IBM/Brown)
            li 2000s: Statistical MT (Och/Koehn)
            li 2014 Neural MT (Google)
        section(data-background-image="img/google_translate.png" data-background-opacity=0.5)
          h2 Machine Translation
          p Market dominated by Google, Microsoft, Amazon
          p Open-source alternatives: Moses, Marian, OpenNMT
          p Some special-purpose systems: Apertium, Joshua
        section
          h2 Computer-Aided Translation
          ul
            li Translation Memory
            li Translation suggestions
            li Quality estimation
            li Post-editing
        section
          h2 Bilingual Communication
          ul
            li Translation
            li Interpreting
            li Multilingual communication
          p Still very challenging
        section(data-background-image="img/translation_error_2.jpeg")
        section(data-background-image="img/translation_error_3.jpg")
        section(data-background-image="img/translation_error_1.webp")
        section(data-background-image="img/translation_error_4.jpg")
        section
          h2 Why is MT so hard?
          ul
            li Translation depends on context
            ul
              li "Black Eye" is "<span style="color:blue;">blaues</span> Auge" (<em>blue eye</em>) in German and "ojo <span style="color:violet">morado</span>" (<em>violet eye </em>) in Spanish
            li Subtle difference matter
            ul
              li "value" can mean "worth", "price" or "importance" in different contexts
        section
          h2 Reordering
          img(src="img/jap_reordering1.svg")
        section
          h2 Reordering
          img(src="img/jap_reordering2.svg")
        section
          h2 Long-distance dependencies
          ul
            li English: I saw the <span style="color:hotpink">movie</span> and <span style="color:mediumblue">it<span> was great!
            li(class="fragment") German: Ich sah <span style="color:hotpink">den Film</span> und <span style="color:mediumblue">er (he)</span> was prima!
            li(class="fragment") Spanish: Vi <span style="color:hotpink">la película</span> y <span style="color:mediumblue">ella (she)</span> fue súper!
        section
          h2 Semantic issues
          ul
            li John liked Michael, so he<sub style="font-size:0.5em">JOHN</sub> helped him<sub style="font-size:0.5em">MICHAEL</sub>
            li John liked Michael, as he<sub style="font-size:0.5em">MICHAEL</sub> helped him<sub style="font-size:0.5em">JOHN</sub>
        section
          h2 Missing Information in Translation
          ul
            li English: "Cousin"
            li German: "Vetter" (male) / "Cousine" (female)
            li Chinese:
            table(style="font-size:0.5em")
              tr
                td(style="width:6em") 堂兄 / 堂哥
                td elder
                td father's brother's son
                td(style="width:6em")  表兄 /  表哥
                td elder
                td mother's sibling's or father's sister's son
              tr
                td  堂弟
                td younger
                td father's brother's son
                td  表弟
                td younger
                td mother's sibling's or father's sister's son
              tr
                td  堂姐 / 堂姊
                td elder
                td father's brother's daughter
                td  表姐 /  表姊
                td elder
                td mother's sibling's or father's sister's daughter
              tr
                td  堂妹
                td younger
                td father's brother's daughter
                td  表妹
                td younger
                td mother's sibling's or father's sister's daughter
        section
          h1 Buzz Group
          p Why is translation hard in your language?
        section
          h2 Under-resourced Languages
          div(style="width:40%;float:left")
            ul
              li 7,000 languages world wide
              li Google Translates supports ~100 languages
              li Wikipedia exists for ~300 languages
              li Even for those (e.g., Irish) translation is significantly worse
          div(style="width:60%;float:left;")
            img(src="img/adela-map.svg")
        section
          h2 Phrase-based MT
          img(src="img/phrase_mt.svg" style="width:80%")
        section
          h2 Neural MT
          img(src="img/neural_mt.svg")
        section
          h2 Prompt-based MT
          img(src="img/chatgpt_translate.png")
        section(data-background-image="img/celtic_robot.png" data-background-opacity=0.5 data-background-position="top")
          h1 Under-resourced Languages
        section
          h2 What is under-resourced?
          img(src="img/def_underresourced.svg")
        section
          h2 Parallel Corpora
          img(src="img/parallel_corpora_chart.svg")
        section
          h2 Transfer Learning
          img(src="img/mt_transfer.svg")
        section
          h2 Translation-based Transfer Learning
          img(src="img/translate_transfer.svg")
        section
          h2 Parameter-sharing Transfer Learning
          img(src="img/transfer_learning2.svg" width="60%")
        section
          h2 Language Adapters
          img(src="img/language_adapters.png" width="60%")
          small Source: Rathnayake et al., Adapter-based fine-tuning of pre-trained multilingual language models for code-mixed and code-switched text classification
        section
          h1 Code-mixing and Language Identification
        section
          h2 Code-mixing, switching
          ul
            li Extremely common in multilingual communities, especially online (3.5% of all tweets)
            li Code-mixing: Matrix language with insertions from other languages (often English)
            li Code-switching: changing between languages
            li Loanwords: words from other languages (understandable to speakers without knowledge of the other language)
        section
          h2 Challenges for code-mixed language
          ul
            li Lack of data; most text is from noisy sources
            li Many combinations of languages
            li How to apply monolingual trained models to code-mixed texts?
        section
          h2 Methods for code-mixed language
          ul
            li Supervised learning (from scratch)
            li Divide-and-conquer
            li Translate to matrix language
            li Zero-shot approach
        section
          h1 Hands-on: Language Identification
        section(data-background-image="img/distant_reading.png" data-background-opacity=0.5)
          h1 Distant Reading
        section
          h2 Close vs Distance Reading
          ul
            li Close reading is the traditional way of reading a text
            li Distant reading uses computational methods to analyse canons of text
            li Term attributed to Franco Moretti (2000)
          p(style="font-size:0.7em;") "So far as the engines of history are concerned, meaning does not matter. In principle, one could study the history of a literary tradition without reading any of literature. ... the main virtue of the computerized content analysis methods I use is that they save one from actually having to read the literature" - Martindale
        section
          h2 "The Great Unread"
          ul
            li Thousands of books published in 19th century England
            li Only a few studied now by famous authors
            li Computational techniques can reveal trends
            ul
              li Titles became shorter
              li Text became less abstract
        section
          h4 Analysis methods for Distant Reading - Diachronic Frequency Analysis
          img(src="img/presidents_freq.png" width="65%")
          small Source: Figure 1.4.1 – The Atlantic’s “The Language of the State of the Union” © Benjamin Schmidt, Mitch Fraa, Chris Barna, Libby Bawcombe, Noah Gordon, Betsy Ebersole, Jennie Rothenberg Gritz 
        section
          h4 Analysis methods for Distant Reading - Lexical Diversity
          img(src="img/hip_hop_vocab.png" width="90%")
          small Source: Matt Daniels
        section
          h4 Analysis methods for Distant Reading - Topic Modelling
          img(src="img/topic_modelling.png")
        section
          h2 Narrative Analysis
          ul
            li Content (topics, characters, events, ...)
            li Structure (plot, character relationsships, ...)
            li Discourse (narrator, style, ...)
          p Approach: collect text, annotate, analyse
        section
          h1 Summary
        section
          h2 Summary
          ul
            li
              a(href="https://slator.com/yes-now-they-claim-machines-outperform-human-translation-in-adequacy/") Is machine translation solved?
            li Still a challenge for <b>most</b> of the world's languages
            li Next billion internet users will speak even more languages
        section
          h2 Thank you for attending the course!
          p Feel free to contact me at <a href="mailto:john@mccr.ae">john@mccr.ae</a> if you have any questions
          small 
            a(href="index.html") Back

    script(src="dist/reveal.js")
    script(src="plugin/notes/notes.js")
    script(src="plugin/markdown/markdown.js")
    script(src="plugin/highlight/highlight.js")
    script(src="plugin/math/math.js")
    script.
      // More info about initialization & config:
      // - https://revealjs.com/initialization/
      // - https://revealjs.com/config/
      Reveal.initialize({
              hash: true,
              slideNumber: true,
    
              // Learn about plugins: https://revealjs.com/plugins/
              plugins: [ RevealMarkdown, RevealHighlight, RevealNotes, RevealMath ]
      });
 
 
